* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    background-color: #1F2937;
    color: white;
    text-decoration: none;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

#logo { 
    padding: 12px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
    padding: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 12px;
}

#section1 {
    display: flex;
    background-color: #1F2937;
    color: white;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.section1-1{
    padding: 24px;
    padding-right: 0;
    margin-right: 0;
    margin: 48px
} 

#section1 img {
    padding-left: 0%;
    margin-left: 0%;
    padding: 24px;
    margin: 48px
}

button {
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background: #3882F6;
    color: white;
}

#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.section2-1 {
    display: flex;
    justify-content: center;
    gap: 24px;
}

#section2 p {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}

#section2 div p {
    font-size: small;
    font-weight: 100;
    font-size: 12px;
    width: 120px;
}

#section2 div img {
    border-radius: 12px;
    border: 4px solid #3882F6;
}

#section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background-color: #E5E7EB;
}

#section3 blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

#section3 p {
    margin-left: auto;
}